/* general */
*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 14px;
    line-height: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #D4D4D4;
}

.wrapper{
  margin: 0 12.5%;  
}

.hidden{
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    margin: -1px;
}
/* end general */

.site-header{
    background-color: #222222;
}

.site-header .wrapper{
    background-image: url(../img/moon-rocket\ 1.png);
    background-repeat: no-repeat;
    background-position: right 140px;
    
    padding-top: 54px;
    padding-bottom: 180px;
}

.main-nav{
    display: flex;
    margin-bottom: 113px;
}

.logo{
    width: 62px;
    height: 62px;
    margin-right: 62px;
}

ul{
    list-style: none;
}

.site-menu{
    display: flex;
    margin-top: 31px;
}

.site-menu a {
    text-decoration: none;
    display: block;
    color: #D4D4D4;
    margin-right: 30px;
}

/* .site-menu li:last-child>a{
    margin-right: 0;
} */

/* contact menu */
.contact-menu{
    display: flex;
    margin-top: 31px;
    margin-left: auto;
    column-gap: 24px;
}

.contact-menu .icon{
    width: 17px;
    height: 17px;
    display: block;
}

.contact-menu .icon-mail{
    background: url("../img/mail-icon\ 1.png") no-repeat;
}

.contact-menu .icon-phone{
    background: url("../img/phone-icon\ 1.png") no-repeat;
}
/* end contact menu */

/* section about us */
.about-us{
    width: 320px;
    padding-left: 126px;
}

.about-us h1{
    color: #FFFFFF;
    font-family: 'Courier New', Courier, monospace;
    font-size: 45px;
    line-height: 51px;
    margin-bottom: 30px;
    width: 244px;
}

.about-us p{
    margin-bottom: 54px;
    width: 254px;
}

.btn {
    display: inline-block;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    border: none;
    border-radius: 25px;
    padding: 17px 38px;
    padding-right: 100px;
    cursor: pointer;
    /* width: 232px; */
}

.btn::after{
    content: "";

    position: absolute;
    width: 19px;
    height: 16px;
    right: 17px;

    background: url(../img/right-arrow-dark\ 1.png) no-repeat;
}

.btn-yellow{
    background-color: #FFCB06;
}
/* end section about us */

/* main */

/* section advantage */
.advantage{
    background-color: #131313;
    padding-top: 85px;
    padding-bottom: 79px;
}

.advantage-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 80px;
}

.advantage-list li{
    padding-top: 102px;
    width: 172px;
}

.advantage-list li::after{
    content: "";
    width: 60px;
    height: 68px;
}

.advantage-made{
    background: url(../img/advantage-icon-1\ 1.png) no-repeat;
}
.advantage-food{
    background: url(../img/advantage-icon-2\ 1.png) no-repeat;

}
.advantage-pilot{
    background: url(../img/advantage-icon-3\ 1.png) no-repeat;

}
.advantage-rover{
    background: url(../img/advantage-icon-4\ 1.png) no-repeat;

}
/* end section advantage */

/* section vacation */
.content{
    padding: 80px 0 98px;
    color: #000000;

}

.column-container{
    display: flex;
    gap: 10px 80px;
    /* flex-wrap: wrap; */
}

.left-column, .right-column{
    max-width: 480px;
}

.content p{
    margin-top: 24px;
}

.lead{
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 27px;
    font-weight: bold;
}
.content  p.lead{
    margin: 0 0 44px;
}

.recomendation-list{
    padding-left: 30px;
}

.recomendation-list li{
    margin-bottom: 28px;
    position: relative;
}

.recomendation-list li::before{
    content: "";
    background: #FFCB06;
    border-radius: 50%;
    width: 8px;
    height: 8px;

    position: absolute;
    left: -23px;
    top: 5px;
}

h3.lead{
    margin-bottom: 27px;
}

.content .wrapper:first-child{
    margin-bottom: 52px;
}

/* start form */
.vacation-request{
    padding: 68px 0;
    color: #000000;
    background-color: #f0f0f0;
}

.vacation-request .lead{
    margin: 32px 0 60px;
}

.vacation-request .p{
    width: 340px;
}

.vacation-form{
    padding-top: 48px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 8px;
    /* column-gap: 10px; */
}

.vacation-form div{
    width: 100%;
}

.vacation-form input[type="tel"], .vacation-form input[type="text"]{
    box-sizing: border-box;
    width: 100%;
    padding: 16px 20px 17px 23px;
}

.vacation-form .half-field{
    width: 49%;
    margin-bottom: 11px;
}


.vacation-form input[type="checkbox"] ~ label::before{
    content: "\2713";
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 25px;
    height: 25px;

    color: #FFFFFF;
    font-weight: bold;
    background-color: #FFFFFF;

    margin-right: 1em;
    border: 1px solid #FFFFFF ;
}

.vacation-form input[type="checkbox"]:checked ~ label::before{
    color: #000000;
}

.vacation-form input[type="checkbox"]:hover ~ label::before{
    cursor: pointer;
}

.btn-black{
    background-color: #222222;
    color: #FFFFFF;

    margin-top: 32px;
}

.btn-black::after{
    background: url(../img/right-arrow-white\ 1.png) no-repeat;
}

/* end form */
/* end section vacation */

/* section timetable */
.timetable{
    background-color: #222222;
    padding: 97px 0 85px;
}

.timetable-info{
    display: flex;
    margin-bottom: 77px;
    gap: 20px 40px;
}


.timetable-info h2{
    color: #FECA30;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    line-height: 27px;

    width: 159px;
}

.timetable-info p{
    margin-left: auto;
    width: 467px;
}

.timetable-info a {
    color: #FECA30;
}

.timetable-flights{
    width: 100%;
    border-collapse: collapse;
}

.timetable-flights tbody>tr{
    border-bottom: 1px solid #555555;
}

.timetable-flights th, .timetable-flights td{
    padding: 15px;
}

.timetable-flights th{
    background: #111;
    text-align: left;
}
/* end section timetable */
/* end main */

/* footer */
.site-footer{
    background-color: #131313;
    padding: 60px 0 84px;
}

.footer-columns{
    display: flex;
}

.site-footer .left-column{
    width: 162px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 98px;
}

.logo-container{
    display: flex;
    /* align-items: center; */
}

.logo-container .logo{
    margin: 0;
}

.company-title{
    color: #D4D4D4;
    position: relative;
    top: 25px;
    left: 15px;
    
}

.copyright{
    color: #555555;

}

.site-footer .right-column{
    padding-top: 30px;
    display: flex;
}


.site-footer .right-column a{
    text-decoration: none;
    color: #888888;
}

.footer-menu .footer-submenu-title{
    display: inline-block;
    width: 180px;
    font-weight: bold;
    text-transform: uppercase;
    color: #D4D4D4;

    border-bottom: 1px solid #555555;
    padding-bottom: 12px;
    margin: 0 80px 58px 0;
}

.footer-submenu{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}
/* end footer */

